@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


body{
    display: flex;
   flex-direction: column;
   align-items: center;
   gap: 20px;
   background-image: url("https://images4.alphacoders.com/104/thumb-1920-1043759.jpg");

}

li{
    font-family: "Roboto", sans-serif;
    display: flex;
    flex-direction: ROW;
 
    padding: 20px;
  
align-items: center;
gap: 10px;}


ol{
    gap: 12px;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.excluir{
    margin-top: 5px;
    background-color: red;
    border: 0;
 color: white;
 padding: 5px;
 font-size: 15px;
}
button img{
       max-width: 25px;
}

li span{
    display: flex;
   margin-left: 5px;
}

.container{
    margin-top: 150px;
    justify-content: center;
    text-align: center;
    display: flex;
    flex-direction: column;
 background-color: rgba(0, 0, 0, 0.432);
 padding: 25px;

}

.tarefa{
    border: 0;
    color: rgb(158, 158, 158);
    font-size: 20px;
    padding: 10px;
   background-color: aliceblue; 
   border-radius: 20px;
   width: 170px;
   display: flex;
   text-align: center;
   align-items: center;
   justify-content: center;
   margin-left: 70px;
}

.tarefass{
    font-size: 30px;

}

h1{
    font-size: 45px;
    color: rgb(255, 247, 247);
    font-family: "Roboto", sans-serif;
}

input{
    color: rgb(158, 158, 158);
font-size: 18px;
font-family: "Roboto", sans-serif;
    padding: 10px;
}
input::placeholder{
    color: rgb(158, 158, 158);
font-size: 18px;
font-family: "Roboto", sans-serif;
}

select{
    color: rgb(158, 158, 158);
    padding: 7px;
    font-size: 18px;
}

























